version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=escola_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  web:
    # mudei o nome da pasta de ./backend para ./dev
    build: ./dev 
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
    # mudei o nome da pasta de ./backend:/app para ./dev:/app
      - ./dev:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      # Em produção isso deve ser seguro, mas para o teste OK:
      - SECRET_KEY=django-insecure-test-key-12345
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
      - DB_ENGINE=django.db.backends.postgresql
      - DB_NAME=escola_db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db

volumes:
  postgres_data:
